@mixin medium-screen {
    @media screen and (max-width: 1099.98px) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: 1100px) {
        @content;
    }
}

:root {
    --color-primary: #d8ff85;
    --color-slider-surface: #0a211f;
    --color-offwhite: #FAFAFA;
    --color-body-bg: #e6ecd6;
    --color-title: #FFFFFF;
    --color-text: var(--color-body-bg);
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
	font-size: 1rem;
    font-weight: 400;
    min-height: 100dvh;
    display: grid;
    align-items: center;
    color: var(--color-text);
    background-color: var(--color-body-bg);
    padding-block: 5vh;
}

img {
    display: block;
    max-width: 100%;
}

.swiper {
    width: 100%;
}

.slider {
    --_thumbnail-slider-offset: 22px;
    padding-inline: 20px;
    background-color: var(--color-slider-surface);
    overflow: hidden;
    padding-block: var(--_thumbnail-slider-offset);
    
    &_grid {
        display: grid;
        max-width: 1248px;
        margin-inline: auto;
        
        @include medium-screen {
            gap: 1.875rem;
        }
        @include large-screen {
            grid-template-columns: 22.836538461% 72.676282051% 4.487179487%;
        }
    }
}

.thumbnail-card {
    overflow: hidden;
    height: 100%;

    @include medium-screen {
        border-radius: 50%;
    }
    @include large-screen {
        border-radius: clamp(0.75rem, 0.3099rem + 1.8779vw, 2rem);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnail-slider {
    @include medium-screen {
        max-width: 690px;
    }

    @include large-screen {
        height: clamp(37.5rem, 4.9449rem + 47.3529vw, 47.5625rem);
        overflow: visible;
    }

    .swiper-slide {
        transition: padding 100ms linear;

        @include medium-screen {
            aspect-ratio: 1/1;
        }

        @include large-screen {
            &-prev,
            &-next {
                padding-block: 20px;
            }
        }

        &:not(.swiper-slide-active) {
            opacity: 0.4;

            @include medium-screen {
                padding: clamp(0.75rem, 0.6207rem + 0.5517vw, 1rem);
            }

            @include large-screen {
                padding-inline: 36px;
            }
        }

        &-active {
            @include large-screen {
                .thumbnail-card {
                    border-radius: clamp(1rem, 0.4718rem + 2.2535vw, 2.5rem);
                }
            }
        }
    }
}

.card {
    @include medium-screen {
        display: grid;
        justify-items: center;
        text-align: center;
    }
    @include large-screen {
        margin-left: clamp(2.1875rem, -5.2941rem + 10.8824vw, 4.5rem);
        margin-right: clamp(2.1875rem, -1.0478rem + 4.7059vw, 3.1875rem);
    }

    &_logo {
        color: var(--color-primary);
        font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem);
        font-weight: 700;
    }

    &_description {
        font-size: clamp(1.25rem, 1.056rem + 0.8276vw, 1.625rem);
        margin-block: clamp(1.625rem, 0.9648rem + 2.8169vw, 3.5rem);
        line-height: 1.4;
        letter-spacing: 0.01em;
        
        @include medium-screen {
            max-width: 40ch;
        }
        @include large-screen {
            font-size: clamp(1.875rem, -0.1471rem + 2.9412vw, 2.5rem);
        }
    }
    
    &_title {
        color: var(--color-title);
        font-size: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.25rem;
    }
    
    &_role {
        font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.preview-slider {
    .swiper-wrapper {
        display: grid;

        & > * {
            grid-area: 1 / -1;
            width: unset !important;
        }
    }

    .swiper-slide {
        display: grid;
        align-items: center;
        transition: opacity 0.35s linear;
        background-color: var(--color-slider-surface);

        &:not(.swiper-slide-active) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.slider-navigation {
    display: grid;
    gap: 12px;
    align-content: center;
    @include medium-screen {
        grid-auto-flow: column;
        justify-content: center;
    }
    @include large-screen {
        width: 100%;
    }

    &_arrow {
        width: 46px;
        @include large-screen {
            width: 100%;
        }
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: var(--color-primary);
        background-color: transparent;
        border: 1px solid var(--color-primary);
        outline: 0;

        &:not(:disabled) {
            cursor: pointer;
        }
        &:focus-visible,
        &:active
        {
            color: var(--color-slider-surface);
            background-color: var(--color-primary);
        }

        @include medium-screen {
            &.cc-left,
            &.cc-right
            {
                transform: rotate(-90deg);
            }
        }
    }
}